# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php

# Don't ignore paths that contain user-generated content.
#sites/*/files
#sites/*/private

# Ignore compressed CSS & JS
sites/files/css
sites/files/js